[submodule "jetcobot"]
	path = jetcobot
	url = https://github.com/kemjensak/jetcobot
[submodule "common_pkgs/apriltag_ros"]
	path = common_pkgs/apriltag_ros
	url = https://github.com/kemjensak/apriltag_ros
